{% extends "grumblr/beforebase.html" %}
{% block title %}Reset Password{% endblock %}
{% block sidebar %}
<ul class="nav pull-right">
  <li><p class="navbar-text" >New to Grumblr?</p></li>
  <li><a id="navbutton" href="{% url 'signup' %}">Sign up</a></li>
</ul>
{% endblock %}
{% block container %}
<div class="form-horizontal form-default">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}" style="color: blue; font-size: 18px;">sign in</a>
  </p>
</div>
{% endblock %}

