<!DOCTYPE html>
<html>
  <head>
    <title>Sign up for Grumblr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/grumblr/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/grumblr/css/style.css">
  </head>
  <body>
    
    <div class="container">
      We have send you an verification email to your email address: {{email}}.
      Please check your email and click the link in it.

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/grumblr/js/bootstrap.min.js"></script>
  </body>
</html>